In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
import pandas as pd
import numpy as np

In [3]:
dfl = pd.read_csv("loan_data/loan_data_clean.csv")

In [5]:
dfl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35365 entries, 0 to 35364
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         35365 non-null  int64
 1   loan_amnt                  35365 non-null  int64
 2   term                       35365 non-null  int64
 3   int_rate                   35365 non-null  float64
 4   installment                35365 non-null  float64
 5   sub_grade                  35365 non-null  int64
 6   emp_length                 35365 non-null  int64
 7   home_ownership             35365 non-null  object
 8   annual_inc                 35365 non-null  float64
 9   verification_status        35365 non-null  object
 10  issue_d                    35365 non-null  int64
 11  loan_status                35365 non-null  int64
 12  purpose                    35365 non-null  object
 13  dti                        35365 non-null  float64
 14  delinq_2yrs                35365 non-null  int64
 15  inq_last_6mths             35365 non-null  int64
 16  open_acc                   35365 non-null  int64
 17  revol_bal                  35365 non-null  int64
 18  revol_util                 35365 non-null  float64
 19  total_acc                  35365 non-null  int64
 20  pub_rec_bankruptcies       35365 non-null  float64
 21  fed_reserve_region         35365 non-null  int64
 22  last_credit_pull_d_int     35365 non-null  int64
 23  last_credit_pull_datetime  35365 non-null  object
dtypes: float64(6), int64(14), object(4)
memory usage: 6.5+ MB

In [6]:
dflt = pd.read_csv("loan_data/loan_data_tableau_final.csv")

In [7]:
dflt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35365 entries, 0 to 35364
Data columns (total 24 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Applicant Id                                 35365 non-null  int64
 1   loan Amount                                  35365 non-null  int64
 2   Loan Term                                    35365 non-null  int64
 3   Interest Rate                                35365 non-null  float64
 4   Installment                                  35365 non-null  float64
 5   Subgrade                                     35365 non-null  object
 6   Employment Length (Years)                    35365 non-null  int64
 7   Home Ownership                               35365 non-null  object
 8   Annual Income                                35365 non-null  float64
 9   Date of Issue                                35365 non-null  object
 10  Loan Status                                  35365 non-null  object
 11  Purpose                                      35365 non-null  object
 12  Debt to Income Ratio                         35365 non-null  float64
 13  Number of Delinquencies Over Past Two Years  35365 non-null  int64
 14  Number of Credit Inquiries Past 6 Months     35365 non-null  int64
 15  Number of Open Credit Lines                  35365 non-null  int64
 16  Total Credit                                 35365 non-null  int64
 17  Ratio of Total Credit Utilized               35365 non-null  float64
 18  Total Number of Credit Lines                 35365 non-null  int64
 19  Number of Recent Bankruptcies                35365 non-null  int64
 20  Federal Reserve Region                       35365 non-null  int64
 21  Date of Last Credit Pull                     35365 non-null  object
 22  Grade                                        35365 non-null  object
 23  State of Address                             35365 non-null  object
dtypes: float64(5), int64(11), object(8)
memory usage: 6.5+ MB

In [12]:
dflt["Grade"].value_counts()

B    10718
A     9140
C     7180
D     4662
E     2481
F      902
G      282
Name: Grade, dtype: int64