In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
import pandas as pd
import numpy as np
import sklearn as sk

In [31]:
df = pd.read_csv('loan_data/loan_data_tableau.csv')

In [53]:
pd.options.display.max_columns = None
df.head(5)

,Applicant Id,loan Amount,Loan Term,Interest Rate,Installment,Subgrade,Employment Length (Years),Home Ownership,Annual Income,Date of Issue,Loan Status,Purpose,Debt to Income Ratio,Number of Delinquencies Over Past Two Years,Number of Credit Inquiries Past 6 Months,Number of Open Credit Lines,Total Credit,Ratio of Total Credit Utilized,Total Number of Credit Lines,Number of Recent Bankruptcies,Federal Reserve Region,Date of Last Credit Pull,Grade,State of Address
0,1077430,2500,60,15.27,59.83,C4,0,RENT,30000.0,2011-12-01,Charged Off,car,1.00,0,5,3,1687,0.09,4,0,6,2013-09-01,C,GA
1,1076863,10000,36,13.49,339.31,C1,10,RENT,49200.0,2011-12-01,Fully Paid,other,20.00,0,1,10,5598,0.21,37,0,12,2016-04-01,C,CA
2,1075269,5000,36,7.90,156.46,A4,3,RENT,36000.0,2011-12-01,Fully Paid,wedding,11.20,0,3,9,7963,0.28,12,0,12,2016-01-01,A,AZ
3,1069639,7000,60,15.96,170.08,C5,8,RENT,47004.0,2011-12-01,Fully Paid,debt_consolidation,23.51,0,1,7,17726,0.86,11,0,5,2016-05-01,C,NC
4,1072053,3000,36,18.64,109.43,E1,9,RENT,48000.0,2011-12-01,Fully Paid,car,5.35,0,2,4,8221,0.88,4,0,12,2014-12-01,E,CA

In [33]:
df = df.drop('verification_status', axis=1)

In [36]:
df.columns

Index(['Applicant Id', 'loan Amount', 'Loan Term', 'Interest Rate',
       'Installment', 'Subgrade', 'Employment Length (Years)',
       'Home Ownership', 'Annual Income', 'Date of Issue', 'Loan Status',
       'Purpose', 'Debt to Income Ratio',
       'Number of Delinquencies Over Past Two Years',
       'Number of Credit Inquiries Past 6 Months',
       'Number of Open Credit Lines', 'Total Credit',
       'Ratio of Total Credit Utilized', 'Total Number of Credit Lines',
       'Number of Recent Bankruptcies', 'Federal Reserve Region',
       'Date of Last Credit Pull', 'Grade', 'State of Address'],
      dtype='object')

In [34]:
cols =['Applicant Id', 'loan Amount', 'Loan Term', 'Interest Rate', 'Installment', 'Subgrade',
       'Employment Length (Years)', 'Home Ownership', 'Annual Income',
       'Date of Issue', 'Loan Status', 'Purpose', 'Debt to Income Ratio', 'Number of Delinquencies Over Past Two Years',
       'Number of Credit Inquiries Past 6 Months', 'Number of Open Credit Lines', 'Total Credit', 'Ratio of Total Credit Utilized', 'Total Number of Credit Lines',
       'Number of Recent Bankruptcies', 'Federal Reserve Region',
       'Date of Last Credit Pull', 'Grade', 'State of Address']

In [35]:
df.columns = cols

In [38]:
month_dict = {'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6, 'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 
             'Nov': 11, 'Dec': 12}

In [39]:
issue_d_list = list(df['Date of Issue'])

In [40]:
issue_d_dict = {}

sep_date = issue_d_list[0].split('-')
month = sep_date[0]
year = sep_date[1]

issue_d_dict['year'] = ['20'+year]
issue_d_dict['month'] = [month_dict[month]]

for i in np.arange(1, len(issue_d_list)):
    sep_date = issue_d_list[i].split('-')
    month = sep_date[0]
    year = sep_date[1]
    
    issue_d_dict['year'].append('20'+year)
    issue_d_dict['month'].append(month_dict[month])

In [41]:
dfissue_dates = pd.DataFrame(issue_d_dict)
dfissue_dates['day'] = '1'

In [46]:
df['Date of Issue'] = pd.to_datetime(dfissue_dates)

In [52]:
df['Number of Recent Bankruptcies'] = df['Number of Recent Bankruptcies'].astype('int')

In [54]:
df.to_csv('loan_data/loan_data_tableau_final.csv', index=False)