In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [56]:
dfccml = pd.read_csv("credit_card/ml_ready_credit_card.csv")

In [25]:
dfcc = pd.read_csv("credit_card/clean_data.csv")

In [57]:
dfccml.head()

,Gender,Own_car,Own_property,Unemployed,Num_children,Num_family,Account_length,Total_income,Age,Years_employed,...,Occupation_type_Low-skill Laborers,Occupation_type_Managers,Occupation_type_Medicine staff,Occupation_type_Other,Occupation_type_Private service staff,Occupation_type_Realty agents,Occupation_type_Sales staff,Occupation_type_Secretaries,Occupation_type_Security staff,Occupation_type_Waiters/barmen staff
0,1,1,1,0,0,2,15,427500.0,32.868574,12.435574,...,0,0,0,1,0,0,0,0,0,0
1,1,1,1,0,0,2,29,112500.0,58.793815,3.104787,...,0,0,0,0,0,0,0,0,1,0
2,0,0,1,0,0,1,4,270000.0,52.321403,8.353354,...,0,0,0,0,0,0,1,0,0,0
3,0,0,1,1,0,1,20,283500.0,61.504343,0.000000,...,0,0,0,1,0,0,0,0,0,0
4,1,1,1,0,0,2,5,270000.0,46.193967,2.105450,...,0,0,0,0,0,0,0,0,0,0

In [54]:
len(dfccml.columns)

31

In [7]:
data = {'Gender': 'Male', 'Own_car': 'Yes', 'Own_property': 'No', 'Unemployed': 'Yes', 'Num_children': 0, 'Num_family': 1, 'Account_length': 30, 'Total_income': 65000, 'Age': 41, 'Years_employed': 15, 'Income_type': 'Working', 'Education_type': 'College Graduate', 'Family_status': 'Single', 'Housing_type': 'Rented Apartment', 'Occupation_type': 'High Skill Technology'}

In [8]:
gender_dict = {'Male': 1, 'Female': 0}
yes_no_dict = {'Yes': 1, 'No': 0}

In [41]:
dfcc.Housing_type.value_counts().index.tolist()

['House / apartment',
 'With parents',
 'Municipal apartment',
 'Rented apartment',
 'Office apartment',
 'Co-op apartment']

In [34]:
occupation_type_dict = {'Other': 'Other', 'Labor': 'Laborers', 'Sales': 'Sales staff',
 'Core Staff': 'Core staff',
 'Manager': 'Managers',
 'Transport': 'Drivers',
 'High Skill Technology': 'High skill tech staff',
 'Accountant': 'Accountants',
 'Medical Staff': 'Medicine staff',
 'Kitchen Services': 'Cooking staff',
 'Security': 'Security staff',
 'Cleaning Services': 'Cleaning staff',
 'Private Services': 'Private service staff',
 'Low-skill Labor': 'Low-skill Laborers',
 'Secretary': 'Secretaries',
 'Waiter/Bartender': 'Waiters/barmen staff',
 'Human Resources': 'HR staff',
 'Information Technology': 'IT staff',
 'Realtor': 'Realty agents' }

In [46]:
education_type_dict = {'Secondary': 'Secondary / secondary special',
 'College Graduate': 'Higher education',
 'Some College': 'Incomplete higher',
 'Lower Secondary': 'Lower secondary',
 'Post-Graduate Degree': 'Academic degree'}

In [42]:
family_status_dict = {'Married': 'Married', 'Single': 'Single / not married', 'Civil Marriage': 'Civil marriage', 'Separated': 'Separated',
                      'Widowed': 'Widow'}

In [44]:
housing_type_dict = {'Own House/Apartment': 'House / apartment',
 'With Parents': 'With parents',
 'Municipal Apartment': 'Municipal apartment',
 'Rented Apartment': 'Rented apartment',
 'Office Apartment': 'Office apartment',
 'Co-op Apartment': 'Co-op apartment'}

In [62]:
data2 = [data]

In [63]:
df = pd.DataFrame(data2)

In [64]:
df.loc[0, 'Gender'] = gender_dict[df.loc[0, 'Gender']]
df.loc[0, 'Own_car'] = yes_no_dict[df.loc[0, 'Own_car']]
df.loc[0, 'Own_property'] = yes_no_dict[df.loc[0, 'Own_property']]
df.loc[0, 'Unemployed'] = yes_no_dict[df.loc[0, 'Unemployed']]

In [65]:
df.loc[0, 'Education_type'] = education_type_dict[df.loc[0, 'Education_type']]
df.loc[0, 'Family_status'] = family_status_dict[df.loc[0, 'Family_status']]
df.loc[0, 'Housing_type'] = housing_type_dict[df.loc[0, 'Housing_type']]
df.loc[0, 'Occupation_type'] = occupation_type_dict[df.loc[0, 'Occupation_type']]

In [66]:
df.head()

,Gender,Own_car,Own_property,Unemployed,Num_children,Num_family,Account_length,Total_income,Age,Years_employed,Income_type,Education_type,Family_status,Housing_type,Occupation_type
0,1,1,0,1,0,1,30,65000,41,15,Working,Higher education,Single / not married,Rented apartment,High skill tech staff

In [68]:
df_categ = df.loc[:, ['Income_type', 'Education_type', 'Family_status', 'Housing_type', 'Occupation_type']]
df_numerical = df.loc[:, ['Gender', 'Own_car', 'Own_property', 'Unemployed', 'Num_children',
       'Num_family', 'Account_length', 'Total_income', 'Age', 'Years_employed']]
df_categ_one_hot = pd.get_dummies(df_categ)
df_ready = pd.concat([df_numerical, df_categ_one_hot], axis=1)

In [71]:
df_ready

,Gender,Own_car,Own_property,Unemployed,Num_children,Num_family,Account_length,Total_income,Age,Years_employed,...,Occupation_type_Low-skill Laborers,Occupation_type_Managers,Occupation_type_Medicine staff,Occupation_type_Other,Occupation_type_Private service staff,Occupation_type_Realty agents,Occupation_type_Sales staff,Occupation_type_Secretaries,Occupation_type_Security staff,Occupation_type_Waiters/barmen staff
0,1,1,0,1,0,1,30,65000,41,15,...,0,0,0,0,0,0,0,0,0,0

In [199]:
df_ready.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 50 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Gender                                        1 non-null      object
 1   Own_car                                       1 non-null      object
 2   Own_property                                  1 non-null      object
 3   Unemployed                                    1 non-null      object
 4   Num_children                                  1 non-null      int64
 5   Num_family                                    1 non-null      int64
 6   Account_length                                1 non-null      int64
 7   Total_income                                  1 non-null      int64
 8   Age                                           1 non-null      int64
 9   Years_employed                                1 non-null      int64
 10  Income_type_Working                           1 non-null      uint8
 11  Education_type_Higher education               1 non-null      uint8
 12  Family_status_Single / not married            1 non-null      uint8
 13  Housing_type_Rented apartment                 1 non-null      uint8
 14  Occupation_type_High skill tech staff         1 non-null      uint8
 15  Income_type_Commercial associate              1 non-null      int64
 16  Income_type_Pensioner                         1 non-null      int64
 17  Income_type_State servant                     1 non-null      int64
 18  Income_type_Student                           1 non-null      int64
 19  Education_type_Academic degree                1 non-null      int64
 20  Education_type_Incomplete higher              1 non-null      int64
 21  Education_type_Lower secondary                1 non-null      int64
 22  Education_type_Secondary / secondary special  1 non-null      int64
 23  Family_status_Civil marriage                  1 non-null      int64
 24  Family_status_Married                         1 non-null      int64
 25  Family_status_Separated                       1 non-null      int64
 26  Family_status_Widow                           1 non-null      int64
 27  Housing_type_Co-op apartment                  1 non-null      int64
 28  Housing_type_House / apartment                1 non-null      int64
 29  Housing_type_Municipal apartment              1 non-null      int64
 30  Housing_type_Office apartment                 1 non-null      int64
 31  Housing_type_With parents                     1 non-null      int64
 32  Occupation_type_Accountants                   1 non-null      int64
 33  Occupation_type_Cleaning staff                1 non-null      int64
 34  Occupation_type_Cooking staff                 1 non-null      int64
 35  Occupation_type_Core staff                    1 non-null      int64
 36  Occupation_type_Drivers                       1 non-null      int64
 37  Occupation_type_HR staff                      1 non-null      int64
 38  Occupation_type_IT staff                      1 non-null      int64
 39  Occupation_type_Laborers                      1 non-null      int64
 40  Occupation_type_Low-skill Laborers            1 non-null      int64
 41  Occupation_type_Managers                      1 non-null      int64
 42  Occupation_type_Medicine staff                1 non-null      int64
 43  Occupation_type_Other                         1 non-null      int64
 44  Occupation_type_Private service staff         1 non-null      int64
 45  Occupation_type_Realty agents                 1 non-null      int64
 46  Occupation_type_Sales staff                   1 non-null      int64
 47  Occupation_type_Secretaries                   1 non-null      int64
 48  Occupation_type_Security staff                1 non-null      int64
 49  Occupation_type_Waiters/barmen staff          1 non-null      int64
dtypes: int64(41), object(4), uint8(5)
memory usage: 493.0+ bytes

In [70]:
for col in dfcc_categ_one_hot.columns:
    if col not in df_ready.columns:
        df_ready[col] = 0

In [74]:
final_values = []
for col in dfccml.columns:
    final_values.append(df_ready.loc[0, col])

In [81]:
final_values = [final_values]

In [78]:
import pickle

In [79]:
pickled_model = pickle.load(open('lgb_cc_model.pkl', 'rb'))

In [82]:
preds = pickled_model.predict(final_values)
proba = pickled_model.predict_proba(final_values)

In [83]:
preds

array([0], dtype=int64)

In [84]:
proba

array([[0.91190945, 0.08809055]])

In [92]:
dfcc_categ_one_hot.columns

Index(['Income_type_Commercial associate', 'Income_type_Pensioner',
       'Income_type_State servant', 'Income_type_Student',
       'Income_type_Working', 'Education_type_Academic degree',
       'Education_type_Higher education', 'Education_type_Incomplete higher',
       'Education_type_Lower secondary',
       'Education_type_Secondary / secondary special',
       'Family_status_Civil marriage', 'Family_status_Married',
       'Family_status_Separated', 'Family_status_Single / not married',
       'Family_status_Widow', 'Housing_type_Co-op apartment',
       'Housing_type_House / apartment', 'Housing_type_Municipal apartment',
       'Housing_type_Office apartment', 'Housing_type_Rented apartment',
       'Housing_type_With parents', 'Occupation_type_Accountants',
       'Occupation_type_Cleaning staff', 'Occupation_type_Cooking staff',
       'Occupation_type_Core staff', 'Occupation_type_Drivers',
       'Occupation_type_HR staff', 'Occupation_type_High skill tech staff',
       'Occupation_type_IT staff', 'Occupation_type_Laborers',
       'Occupation_type_Low-skill Laborers', 'Occupation_type_Managers',
       'Occupation_type_Medicine staff', 'Occupation_type_Other',
       'Occupation_type_Private service staff',
       'Occupation_type_Realty agents', 'Occupation_type_Sales staff',
       'Occupation_type_Secretaries', 'Occupation_type_Security staff',
       'Occupation_type_Waiters/barmen staff'],
      dtype='object')

In [93]:
dfccml.columns

Index(['Gender', 'Own_car', 'Own_property', 'Unemployed', 'Num_children',
       'Num_family', 'Account_length', 'Total_income', 'Age', 'Years_employed',
       'Income_type_Commercial associate', 'Income_type_Pensioner',
       'Income_type_State servant', 'Income_type_Student',
       'Income_type_Working', 'Education_type_Academic degree',
       'Education_type_Higher education', 'Education_type_Incomplete higher',
       'Education_type_Lower secondary',
       'Education_type_Secondary / secondary special',
       'Family_status_Civil marriage', 'Family_status_Married',
       'Family_status_Separated', 'Family_status_Single / not married',
       'Family_status_Widow', 'Housing_type_Co-op apartment',
       'Housing_type_House / apartment', 'Housing_type_Municipal apartment',
       'Housing_type_Office apartment', 'Housing_type_Rented apartment',
       'Housing_type_With parents', 'Occupation_type_Accountants',
       'Occupation_type_Cleaning staff', 'Occupation_type_Cooking staff',
       'Occupation_type_Core staff', 'Occupation_type_Drivers',
       'Occupation_type_HR staff', 'Occupation_type_High skill tech staff',
       'Occupation_type_IT staff', 'Occupation_type_Laborers',
       'Occupation_type_Low-skill Laborers', 'Occupation_type_Managers',
       'Occupation_type_Medicine staff', 'Occupation_type_Other',
       'Occupation_type_Private service staff',
       'Occupation_type_Realty agents', 'Occupation_type_Sales staff',
       'Occupation_type_Secretaries', 'Occupation_type_Security staff',
       'Occupation_type_Waiters/barmen staff'],
      dtype='object')

In [205]:
def modelHelper(data):
    
    gender_dict = {'Male': 1, 'Female': 0}
    yes_no_dict = {'Yes': 1, 'No': 0}
    occupation_type_dict = {'Other': 'Other', 'Labor': 'Laborers', 'Sales': 'Sales staff',
                             'Core Staff': 'Core staff',
                             'Manager': 'Managers',
                             'Transport': 'Drivers',
                             'High Skill Technology': 'High skill tech staff',
                             'Accountant': 'Accountants',
                             'Medical Staff': 'Medicine staff',
                             'Kitchen Services': 'Cooking staff',
                             'Security': 'Security staff',
                             'Cleaning Services': 'Cleaning staff',
                             'Private Services': 'Private service staff',
                             'Low-skill Labor': 'Low-skill Laborers',
                             'Secretary': 'Secretaries',
                             'Waiter/Bartender': 'Waiters/barmen staff',
                             'Human Resources': 'HR staff',
                             'Information Technology': 'IT staff',
                             'Realtor': 'Realty agents' }
    education_type_dict = {'Secondary': 'Secondary / secondary special',
                             'College Graduate': 'Higher education',
                             'Some College': 'Incomplete higher',
                             'Lower Secondary': 'Lower secondary',
                             'Post-Graduate Degree': 'Academic degree'}
    family_status_dict = {'Married': 'Married', 'Single': 'Single / not married', 'Civil Marriage': 'Civil marriage', 'Separated': 'Separated',
                          'Widowed': 'Widow'}
    housing_type_dict = {'Own House/Apartment': 'House / apartment',
                         'With Parents': 'With parents',
                         'Municipal Apartment': 'Municipal apartment',
                         'Rented Apartment': 'Rented apartment',
                         'Office Apartment': 'Office apartment',
                         'Co-op Apartment': 'Co-op apartment'}
    
    one_hot_cols = ['Income_type_Commercial associate', 'Income_type_Pensioner',
       'Income_type_State servant', 'Income_type_Student',
       'Income_type_Working', 'Education_type_Academic degree',
       'Education_type_Higher education', 'Education_type_Incomplete higher',
       'Education_type_Lower secondary',
       'Education_type_Secondary / secondary special',
       'Family_status_Civil marriage', 'Family_status_Married',
       'Family_status_Separated', 'Family_status_Single / not married',
       'Family_status_Widow', 'Housing_type_Co-op apartment',
       'Housing_type_House / apartment', 'Housing_type_Municipal apartment',
       'Housing_type_Office apartment', 'Housing_type_Rented apartment',
       'Housing_type_With parents', 'Occupation_type_Accountants',
       'Occupation_type_Cleaning staff', 'Occupation_type_Cooking staff',
       'Occupation_type_Core staff', 'Occupation_type_Drivers',
       'Occupation_type_HR staff', 'Occupation_type_High skill tech staff',
       'Occupation_type_IT staff', 'Occupation_type_Laborers',
       'Occupation_type_Low-skill Laborers', 'Occupation_type_Managers',
       'Occupation_type_Medicine staff', 'Occupation_type_Other',
       'Occupation_type_Private service staff',
       'Occupation_type_Realty agents', 'Occupation_type_Sales staff',
       'Occupation_type_Secretaries', 'Occupation_type_Security staff',
       'Occupation_type_Waiters/barmen staff']
    final_cols = ['Gender', 'Own_car', 'Own_property', 'Unemployed', 'Num_children',
       'Num_family', 'Account_length', 'Total_income', 'Age', 'Years_employed',
       'Income_type_Commercial associate', 'Income_type_Pensioner',
       'Income_type_State servant', 'Income_type_Student',
       'Income_type_Working', 'Education_type_Academic degree',
       'Education_type_Higher education', 'Education_type_Incomplete higher',
       'Education_type_Lower secondary',
       'Education_type_Secondary / secondary special',
       'Family_status_Civil marriage', 'Family_status_Married',
       'Family_status_Separated', 'Family_status_Single / not married',
       'Family_status_Widow', 'Housing_type_Co-op apartment',
       'Housing_type_House / apartment', 'Housing_type_Municipal apartment',
       'Housing_type_Office apartment', 'Housing_type_Rented apartment',
       'Housing_type_With parents', 'Occupation_type_Accountants',
       'Occupation_type_Cleaning staff', 'Occupation_type_Cooking staff',
       'Occupation_type_Core staff', 'Occupation_type_Drivers',
       'Occupation_type_HR staff', 'Occupation_type_High skill tech staff',
       'Occupation_type_IT staff', 'Occupation_type_Laborers',
       'Occupation_type_Low-skill Laborers', 'Occupation_type_Managers',
       'Occupation_type_Medicine staff', 'Occupation_type_Other',
       'Occupation_type_Private service staff',
       'Occupation_type_Realty agents', 'Occupation_type_Sales staff',
       'Occupation_type_Secretaries', 'Occupation_type_Security staff',
       'Occupation_type_Waiters/barmen staff']
    
    data2 = [data]
    df = pd.DataFrame(data2)
    
    df.loc[0, 'Gender'] = gender_dict[df.loc[0, 'Gender']]
    df.loc[0, 'Own_car'] = yes_no_dict[df.loc[0, 'Own_car']]
    df.loc[0, 'Own_property'] = yes_no_dict[df.loc[0, 'Own_property']]
    df.loc[0, 'Unemployed'] = yes_no_dict[df.loc[0, 'Unemployed']]
    
    df.loc[0, 'Education_type'] = education_type_dict[df.loc[0, 'Education_type']]
    df.loc[0, 'Family_status'] = family_status_dict[df.loc[0, 'Family_status']]
    df.loc[0, 'Housing_type'] = housing_type_dict[df.loc[0, 'Housing_type']]
    df.loc[0, 'Occupation_type'] = occupation_type_dict[df.loc[0, 'Occupation_type']]
    
    
    
    df_categ = df.loc[:, ['Income_type', 'Education_type', 'Family_status', 'Housing_type', 'Occupation_type']]
    df_numerical = df.loc[:, ['Gender', 'Own_car', 'Own_property', 'Unemployed', 'Num_children',
                               'Num_family', 'Account_length', 'Total_income', 'Age', 'Years_employed']]
    df_categ_one_hot = pd.get_dummies(df_categ)
    df_ready = pd.concat([df_numerical, df_categ_one_hot], axis=1)
    
    for col in one_hot_cols:
        if col not in df_ready.columns:
            df_ready[col] = 0
    
    cols = ['Gender', 'Own_car', 'Own_property', 'Unemployed']
    for col in cols:
        df_ready[col].astype('int')
        
    print(df_ready.info())
    
    final_values = []
    for col in final_cols:
        final_values.append(df_ready.loc[0, col])
    
    final_values = [final_values]
    
    pickled_model = pickle.load(open('lgb_cc_model.pkl', 'rb'))
    pred = pickled_model.predict(final_values)
    prob = pickled_model.predict_proba(final_values)
    print(f'Prediction: {pred[0]}  Probability: {prob[0][1]}')

In [201]:
more_data = {'Gender': 'Male', 'Own_car': 'No', 'Own_property': 'No', 'Unemployed': 'Yes', 'Num_children': 10, 'Num_family': 11, 'Account_length': 20, 'Total_income': 111110, 'Age': 20, 'Years_employed': 22, 'Income_type': 'Student', 'Education_type': 'Some College', 'Family_status': 'Single', 'Housing_type': 'With Parents', 'Occupation_type': 'Information Technology'}

In [206]:
modelHelper(more_data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 50 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Gender                                        1 non-null      object
 1   Own_car                                       1 non-null      object
 2   Own_property                                  1 non-null      object
 3   Unemployed                                    1 non-null      object
 4   Num_children                                  1 non-null      int64
 5   Num_family                                    1 non-null      int64
 6   Account_length                                1 non-null      int64
 7   Total_income                                  1 non-null      int64
 8   Age                                           1 non-null      int64
 9   Years_employed                                1 non-null      int64
 10  Income_type_Student                           1 non-null      uint8
 11  Education_type_Incomplete higher              1 non-null      uint8
 12  Family_status_Single / not married            1 non-null      uint8
 13  Housing_type_With parents                     1 non-null      uint8
 14  Occupation_type_IT staff                      1 non-null      uint8
 15  Income_type_Commercial associate              1 non-null      int64
 16  Income_type_Pensioner                         1 non-null      int64
 17  Income_type_State servant                     1 non-null      int64
 18  Income_type_Working                           1 non-null      int64
 19  Education_type_Academic degree                1 non-null      int64
 20  Education_type_Higher education               1 non-null      int64
 21  Education_type_Lower secondary                1 non-null      int64
 22  Education_type_Secondary / secondary special  1 non-null      int64
 23  Family_status_Civil marriage                  1 non-null      int64
 24  Family_status_Married                         1 non-null      int64
 25  Family_status_Separated                       1 non-null      int64
 26  Family_status_Widow                           1 non-null      int64
 27  Housing_type_Co-op apartment                  1 non-null      int64
 28  Housing_type_House / apartment                1 non-null      int64
 29  Housing_type_Municipal apartment              1 non-null      int64
 30  Housing_type_Office apartment                 1 non-null      int64
 31  Housing_type_Rented apartment                 1 non-null      int64
 32  Occupation_type_Accountants                   1 non-null      int64
 33  Occupation_type_Cleaning staff                1 non-null      int64
 34  Occupation_type_Cooking staff                 1 non-null      int64
 35  Occupation_type_Core staff                    1 non-null      int64
 36  Occupation_type_Drivers                       1 non-null      int64
 37  Occupation_type_HR staff                      1 non-null      int64
 38  Occupation_type_High skill tech staff         1 non-null      int64
 39  Occupation_type_Laborers                      1 non-null      int64
 40  Occupation_type_Low-skill Laborers            1 non-null      int64
 41  Occupation_type_Managers                      1 non-null      int64
 42  Occupation_type_Medicine staff                1 non-null      int64
 43  Occupation_type_Other                         1 non-null      int64
 44  Occupation_type_Private service staff         1 non-null      int64
 45  Occupation_type_Realty agents                 1 non-null      int64
 46  Occupation_type_Sales staff                   1 non-null      int64
 47  Occupation_type_Secretaries                   1 non-null      int64
 48  Occupation_type_Security staff                1 non-null      int64
 49  Occupation_type_Waiters/barmen staff          1 non-null      int64
dtypes: int64(41), object(4), uint8(5)
memory usage: 493.0+ bytes
None
Prediction: 0  Probability: 0.3182218173314735

In [126]:
type(more_data)

dict